.tweetedit {
    margin: 0 auto;
    max-width: 90rem;
}

.tweetedit__title {
    font-size: $font-size-medium;
    text-align: center;
}

.tweetedit__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tweetedit__input {
    border: lightgrey solid .2rem;
    border-radius: .5rem;
    font-size: $font-size-small;
    outline-color: lig;
    padding: $s-size;
    margin: $m-size 0;
}

.tweetedit__input:focus {
    outline-color: $blue;
}

.tweetedit__button {
    background: $blue;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: $font-size-xsmall;
    margin: 0 $l-size 0 $m-size;
    padding: $s-size;
    text-decoration: none;
}

.tweetedit__text {
    font-size: $font-size-xsmall;
    margin: $l-size 0;
    text-align: center;
    word-break: break-all;
}